### DATA FROM CATASTRO INSPIRE
___________________________________________________________________________________________________

Obteined through qGIS after mingling from a while with:
- WMS service: http://ovc.catastro.meh.es/cartografia/INSPIRE/spadgcwms.aspx
- WFS buildings : http://ovc.catastro.meh.es/INSPIRE/wfsBU.aspx?
- todos los serivicios INSPIRE: http://www.catastro.minhap.es/webinspire/index.html

*Notas: el uso de los canales WMS/WFS devuelven las capas antes de unificar con el programa Europeo Inspire, por lo que quizá sea la razón por la que no funcionan bien.

Existen varios GitHubs enfocados a consultas del catastro con python:
- **[pyCatastro](#https://github.com/gisce/pycatastro)**: permite realizar consultas en formato API. 
>>- No permite la descarga total de datos en función de municipio y provincia
>>- Devuelve diccionarios
>>- Para descargarme Madrid, debería obtener (1) Todas las vías, (2) Todas las siglas e iterar, haciendo mogollón de llamadas (not a good idea)

- **[catastro-lib-python](#https://github.com/sperea/catastro-lib-python)**: parece un antecersor del anterior. No se ha probado pues se dejó de actualizar en 2018
- **[Catastro Inspire Downloader](#https://github.com/geomatico/cidownloader)**: realizados por los mismos cartógrafos y desarrolladores que el complemento de qGIS, permite descargar datos en formato .geopackage
>>- Permite descargar según provincia, municipio y proyección
>>- Es poco consistente: al descargar Madrid a veces devuelve sólo datos de CadastralParcel o de BuildingParts. Comparando con los gmls incluidos en ZIPs que se pueden descargar a parte, los datos son incompletos. Posiblemente se un problema con la librería GDAL.

In [3]:
import pandas as pd
import numpy as np

import geopandas as gpd
import geojson

pd.set_option('display.max_rows', 1000)

### CAPAS DISPONIBLES

Dada el volumen de datos, la inspección de éstos se realiza sobre una parte de éstos

In [4]:
CATASTRO_PATH = '../data/raw/catastro'

# Dentro de los datos displibles hay 4 capas en formato geojson

building_df = gpd.read_file(f"{CATASTRO_PATH}/A.ES.SDGC.BU.28900.building.geojson", rows = 25000)
buildingParts_df = gpd.read_file(f"{CATASTRO_PATH}/A.ES.SDGC.BU.28900.buildingpart.geojson", rows = 25000) # pt 1
otherConstruction_df = gpd.read_file(f"{CATASTRO_PATH}/A.ES.SDGC.BU.28900.otherconstruction.geojson", rows = 25000)

cadastralParcel = gpd.read_file(f"{CATASTRO_PATH}/A.ES.SDGC.CP.28900.cadastralparcel.geojson", rows = 25000)
cadastralZoning = gpd.read_file(f"{CATASTRO_PATH}/A.ES.SDGC.CP.28900.cadastralzoning.geojson", rows = 25000)

Checkeo de uso de memoria

In [5]:
print(f"Building Layer total memory usage: \t\t\t{building_df.memory_usage(index=True).sum()/1000} \tKbytes")
print(f"Building Parts Layer total memory usage: \t\t{buildingParts_df.memory_usage(index=True).sum()/1000} \tKbytes")
print(f"Other Construction Layer total memory usage: \t\t{otherConstruction_df.memory_usage(index=True).sum()/1000} \t\tKbytes")
print(f"Cadastral Parcel Layer total memory usage: \t\t{cadastralParcel.memory_usage(index=True).sum()/1000} \tKbytes")
print(f"Cadastral Zoning Layer total memory usage: \t\t{cadastralZoning.memory_usage(index=True).sum()/1000} \tKbytes")

Building Layer total memory usage: 			4825.128 	Kbytes
Building Parts Layer total memory usage: 		2625.128 	Kbytes
Other Construction Layer total memory usage: 		774.16 		Kbytes
Cadastral Parcel Layer total memory usage: 		2200.128 	Kbytes
Cadastral Zoning Layer total memory usage: 		1269.136 	Kbytes

In [6]:
## NAMES OF GEO
building_df.name = 'BU_ALL'
buildingParts_df.name = 'BU_PARTS'
otherConstruction_df.name = 'BU_OTHER'
cadastralParcel.name = 'CAD_PARCEL'
cadastralZoning.name = 'CAD_ZONING'

## 1.1 Building Layer

En qGIS esta capa representa la parte edificada de los solares.

In [9]:
display(building_df.info())
display(building_df.shape)

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 25 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   gml_id                                   25000 non-null  object
 1   beginLifespanVersion                     25000 non-null  object
 2   conditionOfConstruction                  25000 non-null  object
 3   beginning                                25000 non-null  object
 4   end                                      25000 non-null  object
 5   endLifespanVersion                       13 non-null     object
 6   informationSystem                        25000 non-null  object
 7   reference                                25000 non-null  object
 8   localId                                  25000 non-null  object
 9   namespace                                25000 non-null  object
 10  horizontalGeometryEstimatedAccuracy      25000 non-null  float64
 11  horizontalGeometryEstimatedAccuracy_uom  25000 non-null  object
 12  horizontalGeometryReference              25000 non-null  object
 13  referenceGeometry                        25000 non-null  bool
 14  currentUse                               24721 non-null  object
 15  numberOfBuildingUnits                    25000 non-null  int64
 16  numberOfDwellings                        25000 non-null  int64
 17  numberOfFloorsAboveGround                0 non-null      object
 18  documentLink                             25000 non-null  object
 19  format                                   25000 non-null  object
 20  sourceStatus                             25000 non-null  object
 21  officialAreaReference                    25000 non-null  object
 22  value                                    25000 non-null  int64
 23  value_uom                                25000 non-null  object
 24  geometry                                 25000 non-null  geometry
dtypes: bool(1), float64(1), geometry(1), int64(3), object(19)
memory usage: 4.6+ MB

None

(25000, 25)

In [6]:
building_df.isna().sum()

gml_id                                         0
beginLifespanVersion                           0
conditionOfConstruction                        0
beginning                                      0
end                                            0
endLifespanVersion                         24987
informationSystem                              0
reference                                      0
localId                                        0
namespace                                      0
horizontalGeometryEstimatedAccuracy            0
horizontalGeometryEstimatedAccuracy_uom        0
horizontalGeometryReference                    0
referenceGeometry                              0
currentUse                                   279
numberOfBuildingUnits                          0
numberOfDwellings                              0
numberOfFloorsAboveGround                  25000
documentLink                                   0
format                                         0
sourceStatus                                   0
officialAreaReference                          0
value                                          0
value_uom                                      0
geometry                                       0
dtype: int64

**GETTING RID OF USELESS COLUMNS**

In [7]:
# DROP NULL COLUMNS
# There are a couple of columns that do not offer any information

building_nullCols = ['numberOfFloorsAboveGround', 'endLifespanVersion']
building_linkCols = ['documentLink', 'format', 'informationSystem']
building_measureCols = ['horizontalGeometryEstimatedAccuracy', 'value_uom', 'sourceStatus',
                        'horizontalGeometryEstimatedAccuracy_uom', 'horizontalGeometryReference', 
                        'officialAreaReference']

building_df.drop(building_nullCols,    axis=1, inplace = True)
building_df.drop(building_linkCols,    axis=1, inplace = True)
building_df.drop(building_measureCols, axis=1, inplace = True)

# horizontalGeometryEstimatedAccuracy is always 0.1m accuracy

In [8]:
# CORRECTING GROSS FLOOR AREA
# officialAreaReference - value - value_uom are columns that refer to the same information

building_df.rename(columns={"value": "grossFloorArea"}, inplace = True)
# building_df.drop(['officialAreaReference'], axis=1, inplace = True)

In [9]:
# SIMPLIFYING DATE COLUMNS
# changes between them migt be because of difference between registration or CFO.
# end column has no sense in the context of this project

building_dateCols = ['beginLifespanVersion', 'beginning', 'end']

# ARE beginning and end the same

building_df['Equal_beg_end'] = building_df.apply(lambda x: x['beginning'] == x['end'], axis = 1)
building_df['Equal_beg_end'].value_counts()

True     24166
False      834
Name: Equal_beg_end, dtype: int64

Let's see the rest of DATES columns.
In the [bibliography](#http://www.catastro.minhap.es/webinspire/documentos/Conjuntos%20de%20datos.pdf) it says:
>- **beginLifespanVersion**: Fecha desde cuándo se ha dado de alta en la base de datos
catastral. 
>- **dateOfConstruction**: estructura que define la fecha de construcción. Está compuesta por dos atributos: bu-c**ore2d:beginning y bu-core2d:end**; los valores son las fechas de construcción de cada unidad constructiva, si hay más de una en el campo **“beginning” se incluye la más antigua y en el campo “end” la más moderna** Siempre se referencian al 1 de enero . 

**______**
Para este proyecto, sólo nos interesa la columna beginning

In [10]:
# Dont know what this means.. could be buildings that are demolished or abandoned
# Lets look to the first row reference = 000207800VK56E
# Sede Electronica del Catastro says that this building has been built in 2004, the *end* year
# Most plausible cause is that the builing is abandoned, in construction etc, is a phase of reconstruction

# conditionOfConstruction should be different
# Lets see that

c_functional, c_declined, c_ruin = 0, 0, 0

for ref in building_df[building_df['Equal_beg_end'] == False]['reference'].tolist() :
    if building_df[building_df['reference'] == ref]['conditionOfConstruction'].tolist()[0] == 'functional':
        c_functional += 1
    elif building_df[building_df['reference'] == ref]['conditionOfConstruction'].tolist()[0] == 'declined':
        c_declined += 1
    elif building_df[building_df['reference'] == ref]['conditionOfConstruction'].tolist()[0] == 'ruin':
        c_ruin += 1
    else:
        pass

print(f"FOR BUILDINGS WITH THE DIFFERENT BEGINNING AND END DATES. CONDITION OF CONSTRUCTION")
print(f"Functional : \t{c_functional}")
print(f"Declined : \t{c_declined}")
print(f"Ruins : \t{c_ruin}")

# There should be another category
# Buildings that may have another new cadastral reference for unknown reasons

FOR BUILDINGS WITH THE DIFFERENT BEGINNING AND END DATES. CONDITION OF CONSTRUCTION
Functional : 	833
Declined : 	0
Ruins : 	1

In [11]:
# LETS SEE CONDITION OF CONSTRUCTION COLUMN
building_df['conditionOfConstruction'].value_counts()

functional    24592
-               248
declined        109
ruin             51
Name: conditionOfConstruction, dtype: int64

In [12]:
# LETS ADD another category for demolished buildings, that reflects beginning != end
# por tanto, los edificios en donde se ha construido suelen son edificios funcionales
# 
# Como se ha dicho más arriba, sólo nos interesa la columna BEGINNING para efectos de este proyecto

building_df.drop(['Equal_beg_end', 'end', 'beginLifespanVersion'], axis = 1, inplace = True)

In [13]:
import datetime as dt

building_df['dateOfConstruction'] = building_df['beginning'].apply(lambda x: 
                                    dt.datetime.strptime(x,'%Y-%m-%dT%H:%M:%S'))

# Out of bounds nanosecond timestamp: 1640-01-01 00:00:00
# Pandas required YEARS to be inside de bound of 1670 - 2560,
# Because of the nature of data, datetime methods cannot be used for this case

def get_yearofConstruction(strng):
    """
    Input:  string
    Output: year as string
    """
    first_w = strng.split('T')[0]
    # Not using datetime from pandas, not valid for this case
    return first_w.split('-')[0]

building_df['yearOfConstruction'] = building_df['beginning'].apply(get_yearofConstruction)

In [14]:
building_df.drop(['beginning', 'dateOfConstruction'], axis = 1, inplace = True)

**____________________________________________________________________________________________________________**

In [15]:
# THERE ARE COLUMNS THAT MAY DUPLICATE INFORMATION
# To join with the rest of data, parcels, buildingparts... share an ID
# Which col is the ID ??

cols_id = ['gml_id', 'reference', 'localId', 'namespace']

# Reference == localID ?? 
# See if there are unique values, or repeteated values (this info has to be contrasted with the rest of geojson)

building_df[cols_id].describe()

# All elements are unique (as expected)
# SHOULD COINCIDE WITH PARCELS
# gml_id for later

                           gml_id       reference         localId   namespace
count                       25000           25000           25000       25000
unique                      25000           25000           25000           1
top     ES.SDGC.BU.1110603VK4801B  0060113VK4706A  0060113VK4706A  ES.SDGC.BU
freq                            1               1               1       25000

In [16]:
# Are reference and localID the same? 
building_df.apply(lambda x: x['reference'] == x['localId'], axis = 1).value_counts() # TRUE
# What is reference Geometry ?
building_df['referenceGeometry'].value_counts() # All true --> Dropping

# Dropping reference and namespace
building_df.drop(['reference', 'namespace', 'referenceGeometry'], axis = 1, inplace = True)

In [130]:
building_df.head(2)

,gml_id,conditionOfConstruction,localId,currentUse,numberOfBuildingUnits,numberOfDwellings,grossFloorArea,geometry,yearOfConstruction
0,ES.SDGC.BU. VK4700H,-,VK4700H,None,0,0,0,"POLYGON ((440433.629 4470953.961, 440432.170 4...",2000
1,ES.SDGC.BU.00006Z8VK4800A,-,00006Z8VK4800A,None,0,0,0,"POLYGON ((440020.830 4479859.707, 440020.064 4...",2000

**____________________________________________________________________________________________________________**

**____________________________________________________________________________________________________________**

## 1.2 Building Parts Layer

In [10]:
display(buildingParts_df.info())
display(buildingParts_df.shape)

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 14 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   gml_id                                   25000 non-null  object
 1   beginLifespanVersion                     25000 non-null  object
 2   conditionOfConstruction                  0 non-null      object
 3   localId                                  25000 non-null  object
 4   namespace                                25000 non-null  object
 5   horizontalGeometryEstimatedAccuracy      25000 non-null  float64
 6   horizontalGeometryEstimatedAccuracy_uom  25000 non-null  object
 7   horizontalGeometryReference              25000 non-null  object
 8   referenceGeometry                        25000 non-null  bool
 9   numberOfFloorsAboveGround                25000 non-null  int64
 10  heightBelowGround                        25000 non-null  int64
 11  heightBelowGround_uom                    25000 non-null  object
 12  numberOfFloorsBelowGround                25000 non-null  int64
 13  geometry                                 25000 non-null  geometry
dtypes: bool(1), float64(1), geometry(1), int64(3), object(8)
memory usage: 2.5+ MB

None

(25000, 14)

In [59]:
def checking_forEmpties(gdf):
    """
    input: dataframe
    output: only the names and counts of cols with null values.
    Shortens pipeline
    """
    print(f"-- Checking for NULLs in {gdf.name} --")
    for col, count in zip(gdf.isna().sum().index.tolist(), gdf.isna().sum().tolist()):
        if count != 0: print(f"\tCol with nulls: \t{col} \t-\t {count}")
        else: pass
    print(f"-- Finished task --\n")


def checking_forUniques(gdf):
    """
    input
    output
    """
    cols_with_one_element = []
    print(f"-- Checking for UNIQUES in {gdf.name} --")
    
    for i,col in enumerate(gdf.columns.tolist()):        
        if col != 'geometry':
            unique_len = len(gdf[str(col)].value_counts().tolist())
            
            if len(col) <= 9: print(f"{i+1}.{col}: \t\t\t\t\t {unique_len} \t Unique items")
            elif len(col) <= 17: print(f"{i+1}.{col}: \t\t\t\t {unique_len} \t Unique items")
            elif 10 < len(col) <= 28: print(f"{i+1}.{col}: \t\t\t {unique_len} \t Unique items")
            elif 28 < len(col): print(f"{i+1}.{col}: \t\t {unique_len} \t Unique items")
            else: pass
            
            if unique_len == 1: cols_with_one_element.append(col)
            else: pass
            
        else: pass
    return cols_with_one_element
    print(f"-- Finished task --\n")
    
# SEPARATING localId from its parts
def get_part(x):
    """
    input: col withs IDs_partXX
    output: XX as int
    Get numeric item in partXX from ID_partXX
    """
    part_str = x.split('_')[1]
    return int(part_str.split('t')[1])

def get_ID(x):
    """
    input: localID_partXX
    output: localID
    """
    return x.split('_')[0]

In [60]:
checking_forEmpties(buildingParts_df)
cols_with_one_element = checking_forUniques(buildingParts_df)

-- Checking for NULLs in BU_PARTS --
	Col with nulls: 	conditionOfConstruction 	-	 25000
-- Finished task --

-- Checking for UNIQUES in BU_PARTS --
1.gml_id: 					 25000 	 Unique items
2.beginLifespanVersion: 			 974 	 Unique items
3.conditionOfConstruction: 			 0 	 Unique items
4.localId: 					 25000 	 Unique items
5.namespace: 					 1 	 Unique items
6.horizontalGeometryEstimatedAccuracy: 		 1 	 Unique items
7.horizontalGeometryEstimatedAccuracy_uom: 		 1 	 Unique items
8.horizontalGeometryReference: 			 1 	 Unique items
9.referenceGeometry: 				 1 	 Unique items
10.numberOfFloorsAboveGround: 			 21 	 Unique items
11.heightBelowGround: 				 11 	 Unique items
12.heightBelowGround_uom: 			 1 	 Unique items
13.numberOfFloorsBelowGround: 			 11 	 Unique items

In [27]:
buildingParts_df.c

['namespace',
 'horizontalGeometryEstimatedAccuracy',
 'horizontalGeometryEstimatedAccuracy_uom',
 'horizontalGeometryReference',
 'referenceGeometry',
 'heightBelowGround_uom']

In [61]:
len('horizontalGeometryEstimatedAccuracy_uom')

39

In [23]:
# DROPING USELESS 
buildingParts_measureCols = ['heightBelowGround_uom','horizontalGeometryEstimatedAccuracy',
                             'horizontalGeometryEstimatedAccuracy_uom', 'horizontalGeometryReference',
                            'referenceGeometry']

buildingParts_nullCols = ['conditionOfConstruction']
builingParts_repCols = ['namespace']

buildingParts_df.drop(buildingParts_measureCols, axis=1, inplace = True)
buildingParts_df.drop(buildingParts_nullCols,    axis=1, inplace = True)
buildingParts_df.drop(builingParts_repCols,      axis=1, inplace = True)

In [24]:
# GETTING YEAR OF CONSTRUCTION
buildingParts_df['yearOfConstruction'] = buildingParts_df['beginLifespanVersion'].apply(get_yearofConstruction)

# DROPING OLD COLUMN
buildingParts_df.drop(['beginLifespanVersion'], axis = 1, inplace = True)

In [25]:
# SEPARATING localId from its parts
buildingParts_df['locadID_parts'] = buildingParts_df['localId'].apply(get_part).astype(dtype = 'int64')
buildingParts_df['locadID'] = buildingParts_df['localId'].apply(get_ID)

buildingParts_df.drop(['localId'], axis = 1, inplace = True)

In [88]:
# CLEANING gml_id
buildingParts_df['gml_id'] = buildingParts_df['gml_id'].apply(get_ID)

In [129]:
buildingParts_df.head(2)

,gml_id,numberOfFloorsAboveGround,heightBelowGround,numberOfFloorsBelowGround,geometry,yearOfConstruction,locadID_parts,locadID
0,ES.SDGC.BU.000200100VK48E,1,0,0,"POLYGON ((441657.574 4487050.292, 441658.164 4...",2004,1,000200100VK48E
1,ES.SDGC.BU.000200500VK56E,1,0,0,"POLYGON ((451584.920 4467181.410, 451586.250 4...",2013,1,000200500VK56E

**________________________**

**________________________**

## 1.3 Other Construction Layer

In [27]:
otherConstruction_df.shape

(13822, 7)

In [28]:
otherConstruction_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 13822 entries, 0 to 13821
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gml_id                   13822 non-null  object
 1   beginLifespanVersion     13822 non-null  object
 2   conditionOfConstruction  0 non-null      object
 3   localId                  13822 non-null  object
 4   namespace                13822 non-null  object
 5   constructionNature       13822 non-null  object
 6   geometry                 13822 non-null  geometry
dtypes: geometry(1), object(6)
memory usage: 756.0+ KB

In [29]:
otherConstruction_df.isna().sum()

gml_id                         0
beginLifespanVersion           0
conditionOfConstruction    13822
localId                        0
namespace                      0
constructionNature             0
geometry                       0
dtype: int64

In [30]:
otherConstruction_df['conditionOfConstruction'].value_counts()

Series([], Name: conditionOfConstruction, dtype: int64)

In [31]:
otherConstruction_df[['beginLifespanVersion', 'constructionNature', 'localId']].describe()

       beginLifespanVersion constructionNature                 localId
count                 13822              13822                   13822
unique                 2191                  1                   13822
top     2003-01-02T00:00:00        openAirPool  6220906VK4862A_PI.8518
freq                    899              13822                       1

In [32]:
# All data corresponds to open AIR POOLS
# I don't need this dataset to begin with
# BUT lets cleaned it

In [33]:
otherConstruction_Cols = ['conditionOfConstruction', 'constructionNature', 'namespace']
otherConstruction_df.drop(otherConstruction_Cols, axis = 1, inplace = True)

In [34]:
otherConstruction_df.head(3)

,gml_id,beginLifespanVersion,localId,geometry
0,ES.SDGC.BU.0006601VK3800E_PI.1,2017-07-07T00:00:00,0006601VK3800E_PI.1,"POLYGON ((429964.360 4480456.150, 429961.960 4..."
1,ES.SDGC.BU.0007201VK3800E_PI.2,2003-01-02T00:00:00,0007201VK3800E_PI.2,"POLYGON ((429883.850 4480596.541, 429888.120 4..."
2,ES.SDGC.BU.0007202VK3800E_PI.3,2006-06-19T00:00:00,0007202VK3800E_PI.3,"POLYGON ((429967.989 4480563.520, 429968.469 4..."

In [35]:
# Using same functions as in Building Parts
def get_PI(x):
    return x.split('_')[1]

# Separating localID

otherConstruction_df['locadID_PI'] = otherConstruction_df['localId'].apply(get_PI) #not really useful
otherConstruction_df['locadID'] = otherConstruction_df['localId'].apply(get_ID)

otherConstruction_df.drop(['localId', 'locadID_PI'], axis = 1, inplace = True)

In [36]:
# CLEANING DATE
otherConstruction_df['yearOfConstruction'] = otherConstruction_df['beginLifespanVersion'].apply(get_yearofConstruction)
otherConstruction_df.drop(['beginLifespanVersion'], axis = 1, inplace = True)

In [37]:
# CLEANING gml_id
otherConstruction_df['gml_id'] = otherConstruction_df['gml_id'].apply(get_ID)

In [38]:
otherConstruction_df.head(3)

,gml_id,geometry,locadID,yearOfConstruction
0,ES.SDGC.BU.0006601VK3800E,"POLYGON ((429964.360 4480456.150, 429961.960 4...",0006601VK3800E,2017
1,ES.SDGC.BU.0007201VK3800E,"POLYGON ((429883.850 4480596.541, 429888.120 4...",0007201VK3800E,2003
2,ES.SDGC.BU.0007202VK3800E,"POLYGON ((429967.989 4480563.520, 429968.469 4...",0007202VK3800E,2006

**________________________**

**________________________**

## 1.4 Cadastral Parcel Layer

In [67]:
display(cadastralParcel.info())
display(cadastralParcel.shape)

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   gml_id              25000 non-null  object
 1   areaValue           25000 non-null  int64
 2   localId             25000 non-null  object
 3   label               25000 non-null  object
 4   pos                 25000 non-null  object
 5   geometry            25000 non-null  geometry
 6   yearOfConstruction  25000 non-null  object
dtypes: geometry(1), int64(1), object(5)
memory usage: 1.3+ MB

None

(25000, 7)

In [44]:
# IS END LIFE SPAN VERSION EMPTY?
cadastralParcel['endLifespanVersion'].value_counts() # Empty
# DROP USELESS COLUMNS
cadastralParcel_dropCols = ['endLifespanVersion', 'areaValue_uom', 'namespace']
cadastralParcel.drop(cadastralParcel_measureCols, axis = 1, inplace = True)

Series([], Name: endLifespanVersion, dtype: int64)

In [47]:
# CLEANING YEAR (same as 1.3 - 1.2 - 1.1)
# using get_yearofConstruction
cadastralParcel['yearOfConstruction'] = cadastralParcel['beginLifespanVersion'].apply(get_yearofConstruction)
cadastralParcel.drop(['beginLifespanVersion'], axis = 1, inplace = True)

In [87]:
def drop_allTrue(df, col1, col2):
    if False not in df.apply(lambda x : x[col1] == x[col2], axis = 1).value_counts().index.tolist():
        print(f"-- All True --\n-- Droping {col2} --")
        df.drop([col2], axis = 1, inplace = True)
    else:
        print(f"-- Pass \nThere are inequalities between columns --")

In [48]:
# IS LOCAL_ID THE SAME AS NATIONAL CADASTRAL REFERENCE ??
# If true --> drop column
drop_allTrue(cadastralParcel, 'localId', 'nationalCadastralReference')
# DROP NATIONAL CADASTRAL REFERENCE

True    25000
Name: Equality, dtype: int64

In [50]:
cadastralParcel.head(4)

,gml_id,areaValue,localId,label,pos,geometry,yearOfConstruction
0,ES.SDGC.CP.000200500VK56E,1268,000200500VK56E,005,451607.03 4467199.27,"MULTIPOLYGON (((451599.360 4467174.940, 451584...",2013
1,ES.SDGC.CP.000205600VK56E,297,000205600VK56E,056,451592.44 4467170.83,"MULTIPOLYGON (((451593.000 4467163.250, 451579...",2013
2,ES.SDGC.CP.000205700VK56E,155,000205700VK56E,057,451587.93 4467161.77,"MULTIPOLYGON (((451590.040 4467156.910, 451576...",2013
3,ES.SDGC.CP.000205800VK56E,174,000205800VK56E,058,451584.62 4467155.04,"MULTIPOLYGON (((451586.650 4467149.650, 451573...",2013

**________________________**

**________________________**

## 1.5 Cadastral Zoning Layer

In [131]:
display(cadastralZoning.info())
display(cadastralZoning.shape)

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 12202 entries, 0 to 12201
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gml_id                    12202 non-null  object
 1   localId                   12202 non-null  object
 2   label                     12202 non-null  object
 3   LocalisedCharacterString  12202 non-null  object
 4   pos                       12202 non-null  object
 5   geometry                  12202 non-null  geometry
 6   yearOfConstruction        12202 non-null  object
dtypes: geometry(1), object(6)
memory usage: 667.4+ KB

None

(12202, 7)

In [134]:
checking_forEmpties(cadastralZoning)

-- Checking for NULLs in CAD_ZONING --
-- Finished task --

In [55]:
display(cadastralZoning['estimatedAccuracy'].value_counts())
display(cadastralZoning['estimatedAccuracy_uom'].value_counts())
display(cadastralZoning['originalMapScaleDenominator'].value_counts())
display(cadastralZoning['LocalisedCharacterString'].value_counts()) # son iguales ??

0.5    12111
1.0       91
Name: estimatedAccuracy, dtype: int64

m    12202
Name: estimatedAccuracy_uom, dtype: int64

500     12111
5000       91
Name: originalMapScaleDenominator, dtype: int64

MANZANA      12111
POLIGONO        91
Name: LocalisedCharacterString, dtype: int64

In [56]:
cadastralZoning_uselessCols = ['estimatedAccuracy_uom', 'originalMapScaleDenominator', 'estimatedAccuracy', 
                              'namespace', 'endLifespanVersion']
cadastralZoning.drop(cadastralZoning_uselessCols, axis = 1, inplace = True)

In [57]:
# is localID == nationalCadastalZoningReference
cadastralZoning.apply(lambda x : x['localId'] == x['nationalCadastalZoningReference'], axis = 1).value_counts() # All true
cadastralZoning.drop(['nationalCadastalZoningReference'], axis = 1, inplace = True)

In [58]:
# CHANGE YEAR (same as rest)
cadastralZoning['yearOfConstruction'] = cadastralZoning['beginLifespanVersion'].apply(get_yearofConstruction)
cadastralZoning.drop(['beginLifespanVersion'], axis = 1, inplace = True)

In [59]:
cadastralZoning.head(4)

,gml_id,localId,label,LocalisedCharacterString,pos,geometry,yearOfConstruction
0,ES.SDGC.CP.Z.28900A000,28900A000,000,POLIGONO,440302.42 4492704.6,"MULTIPOLYGON (((440301.968 4492704.637, 440302...",2019
1,ES.SDGC.CP.Z.28900A001,28900A001,001,POLIGONO,444909.27 4497953.5,"MULTIPOLYGON (((444555.092 4499363.444, 444568...",2019
2,ES.SDGC.CP.Z.28900A002,28900A002,002,POLIGONO,446474.92 4496527.94,"MULTIPOLYGON (((445948.540 4496495.370, 445945...",2013
3,ES.SDGC.CP.Z.28900A003,28900A003,003,POLIGONO,447749.11 4494280.98,"MULTIPOLYGON (((449091.096 4493635.359, 449089...",2014

**_______________**

**_______________**

### CHECKING MEMORY USAGE

In [60]:
print(f"Building Layer total memory usage: \t\t\t{building_df.memory_usage(index=True).sum()/1000} \tKbytes")
print(f"Building Parts Layer total memory usage: \t\t{buildingParts_df.memory_usage(index=True).sum()/1000} \tKbytes")
print(f"Other Construction Layer total memory usage: \t\t{otherConstruction_df.memory_usage(index=True).sum()/1000} \tKbytes")

print(f"Cadastral Parcel Layer total memory usage: \t\t{cadastralParcel.memory_usage(index=True).sum()/1000} \tKbytes")
print(f"Cadastral Zoning Layer total memory usage: \t\t{cadastralZoning.memory_usage(index=True).sum()/1000} \t\tKbytes")

Building Layer total memory usage: 			1800.128 	Kbytes
Building Parts Layer total memory usage: 		1600.128 	Kbytes
Other Construction Layer total memory usage: 		442.432 	Kbytes
Cadastral Parcel Layer total memory usage: 		1400.128 	Kbytes
Cadastral Zoning Layer total memory usage: 		683.44 		Kbytes

--- INITIALLY---

    Building Layer total memory usage: 			4825.128 	Kbytes
Building Parts Layer total memory usage: 		2625.128 	Kbytes
Other Construction Layer total memory usage: 	774.16 		Kbytes
Cadastral Parcel Layer total memory usage: 		2200.128 	Kbytes
Cadastral Zoning Layer total memory usage: 		1269.136 	Kbytes

In [61]:
## CHANGE

print(f"Building Layer memory optimization: \t\t\t{np.round(building_df.memory_usage(index=True).sum()/(10*4825.128), 2)} \t%")
print(f"Building Parts Layer memory optimization: \t\t{np.round(buildingParts_df.memory_usage(index=True).sum()/(10*2625.128), 2)} \t%")
print(f"Other Construction Layer memory optimization: \t\t{np.round(otherConstruction_df.memory_usage(index=True).sum()/(10*774.16), 2)} \t%")

print(f"Cadastral Parcel Layer memory optimization: \t\t{np.round(cadastralParcel.memory_usage(index=True).sum()/(10*2200.128), 2)} \t%")
print(f"Cadastral Zoning Layer memory optimization: \t\t{np.round(cadastralZoning.memory_usage(index=True).sum()/(10*1269.136), 2)} \t%")

Building Layer memory optimization: 			37.31 	%
Building Parts Layer memory optimization: 		60.95 	%
Other Construction Layer memory optimization: 		57.15 	%
Cadastral Parcel Layer memory optimization: 		63.64 	%
Cadastral Zoning Layer memory optimization: 		53.85 	%

**_______________**

**_______________**

### CHECKINF WHICH COL IS BETTER TO CONNECT TABLES IN DDBB

In [66]:
BU_id = np.array(building_df['gml_id']); display(BU_id); display(len(BU_id))
BP_id = np.array(buildingParts_df['gml_id']); display(BP_id); display(len(BP_id))
BO_id = np.array(otherConstruction_df['gml_id']); display(BO_id); display(len(BO_id))
CP_id = np.array(cadastralParcel['gml_id']); display(CP_id); display(len(CP_id))
CZ_id = np.array(cadastralZoning['gml_id']); display(CZ_id); display(len(CZ_id))

array(['ES.SDGC.BU.  VK4700H', 'ES.SDGC.BU.00006Z8VK4800A',
       'ES.SDGC.BU.000200100VK48E', ..., 'ES.SDGC.BU.1459806VK4715G',
       'ES.SDGC.BU.1459807VK4715G', 'ES.SDGC.BU.1459808VK4715G'],
      dtype=object)

25000

array(['ES.SDGC.BU.000200100VK48E_part1',
       'ES.SDGC.BU.000200500VK56E_part1',
       'ES.SDGC.BU.000200500VK56E_part2', ...,
       'ES.SDGC.BU.0201605VK4800A_part1',
       'ES.SDGC.BU.0201609VK4800A_part1',
       'ES.SDGC.BU.0201609VK4800A_part2'], dtype=object)

25000

array(['ES.SDGC.BU.0006601VK3800E', 'ES.SDGC.BU.0007201VK3800E',
       'ES.SDGC.BU.0007202VK3800E', ..., 'ES.SDGC.BU.9997706VK3899F',
       'ES.SDGC.BU.9999420VK4799H', 'ES.SDGC.BU.9999711VK4799H'],
      dtype=object)

13822

array(['ES.SDGC.CP.000200500VK56E', 'ES.SDGC.CP.000205600VK56E',
       'ES.SDGC.CP.000205700VK56E', ..., 'ES.SDGC.CP.1000705VK4810A',
       'ES.SDGC.CP.1000706VK4810A', 'ES.SDGC.CP.1000707VK4810A'],
      dtype=object)

25000

array(['ES.SDGC.CP.Z.28900A000', 'ES.SDGC.CP.Z.28900A001',
       'ES.SDGC.CP.Z.28900A002', ..., 'ES.SDGC.CP.Z.99994VK4799H',
       'ES.SDGC.CP.Z.99997VK4799H', 'ES.SDGC.CP.Z.RA6100000000'],
      dtype=object)

12202